<div>
    <div>DEMO .NET CORE APPLICATION</div>
    <div>Please login first</div>
    <form [formGroup]="loginForm">
        <label for="userName">Username</label>
        <input type="text" formControlName="userName">
        <label for="password">Password</label>
        <input type="password" formControlName="password">
    </form>
    <button (click)="login()">Login</button>
    <a href="">Register</a>
    <br>
    <button (click)="test()">get all student</button>
    
</div>
