<div>
    <div>DEMO .NET CORE APPLICATION</div>
    <div>User Registration</div>
    <form>
        <label for="userName">Username</label>
        <input type="text" formControlName="userName">
        <label for="passWord">Password</label>
        <input type="password" formControlName="userName">
    </form>
    <button>Register</button>
    <a href="">Back</a>
</div>
